<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>ChangeLog</string>
		<string>ColourExt</string>
		<string>Main</string>
		<string>Rectangle</string>
		<string>Font</string>
		<string>Coordinates</string>
		<string>BinDecHex</string>
		<string>Colour</string>
		<string>ColourNames</string>
		<string>TestSuite</string>
		<string>Touch</string>
		<string>utf8Case</string>
		<string>utf8</string>
		<string>Debug</string>
		<string>Graph</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
